@model TMS.Library.Entities.Common.Configuration.DegreeCertificates
@{
    ViewBag.Title = "Preview_Certificate";
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
}

<h2>@Model.PrimaryName</h2>
<img src="../@Model.Logo" height="50%" width="70%"/>

